
font/temp.txt
mpost/output-svg/65.png
mpost/output-svg/65.svg
mpost/temp.mp
temp.log
font/temp.txt
font/blank.sfd
font/blank.sfd
font/temp.txt
mpost/output-svg/65.png
mpost/output-svg/65.svg
temp.log
mpost/output-svg/0.png
mpost/output-svg/1.png
mpost/output-svg/2.png
mpost/output-svg/3.png
mpost/output-svg/4.png
mpost/output-svg/65.png
mpost/output-svg/65.svg
mpost/temp.mp
font/temp.txt
