
font/temp.txt
mpost/output-svg/65.png
mpost/output-svg/65.svg
mpost/temp.mp
temp.log
font/temp.txt
font/blank.sfd
font/blank.sfd
font/temp.txt
mpost/output-svg/65.png
mpost/output-svg/65.svg
temp.log
